.Body{
  font-family: "Noto Sans";
}

.Title{
  font-size: 20px;
  align-self: center;
  text-align: center;
}

.Pi{
  text-align: center;
  align-self: center;
  width: 100%;
}

.IterationDiv{
  text-align: center;
  width: 100%;
}

.StartDiv{
  
}

.StartButton{
  background: white;
  text-align: center;
  align-self: center;
  position: absolute;
  left: 48.3%;
  border: solid rgb(0, 0, 0);
  border-radius: 10px;
}
